/* ================================== */
/* = Tools, Helpers & common styles = */
/* ================================== */

.hr {
    height: 1px;
    overflow: hidden;
    background: #ccc;
    clear: both;
    margin-bottom: 1em;
}

.imgleft    { float: left; margin-right: 1em; margin-bottom: 1em; }
.imgright   { float: right; margin-left: 1em; margin-bottom: 1em; }

.inlineList {
    list-style-type: none;
    margin: 0 auto 1.5em;
    padding: 0;
    text-align: center;
}
    .inlineList li {
        display: inline;
        margin: 0 .5em;
    }