/* ========================================= */
/* = Layout: Header, Navigation, Footer... = */
/* ========================================= */

/* =========== */
/* = =Header = */
/* =========== */
.head {
    
}
    #logo {
        font-size: 2em;
    }
    
    .navLinks {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
        .navLinks li {
            display: inline;
            float: left;
            margin: 0;
            padding: 0;
        }
        .navLinks a {
            display: inline;
            float: left;
            padding: 5px 15px;
            text-decoration: none;
            font-weight: bold;
        }


/* ============ */
/* = =Content = */
/* ============ */
.mainContent {
    
}


/* =========== */
/* = =Footer = */
/* =========== */
.foot {
    
}
