/* ================================================== */
/* = Typography: Headings, paragraphs, font-size... = */
/* ================================================== */

body {
    font: 12px/1.5em 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #222;
    text-shadow:rgba(0,0,0,0.01) 0 0 0;
    -webkit-text-size-adjust: none; /* Forbid mobile webkit to adjust text size */
    background: url('../img/line-height.png');
}

/* Typo scaler */
.smaller { font-size: .8em; line-height: 1.4; }
.small, small { font-size: .925em; line-height: 1.3; }
.large { font-size: 1.25em; line-height: 1.3; margin-bottom: 1em; }
.larger { font-size: 1.5em; line-height: 1.5; }

.caps       { text-transform: uppercase; }
.small-caps { font-variant: small-caps; }

/* Shhhh */
.quiet { color: #555; }

/* Alternative typo */
.alt { font-size: 1.4em; color: #454545; font-family: Georgia, 'Times new roman', Times, serif; }

/* Text alignment */
.aleft { text-align: left; }
.acenter { text-align: center; }
.aright { text-align: right; }

/* =========== */
/* = Headings = */
/* =========== */
h1 a, .h1 a,
h1 a:hover, .h1 a:hover,
h1, .h1 {
    font: bold 20px/.9 'Helvetica Neue', Arial, Helvetica, sans-serif; 
    color: #555;
    margin-bottom: .9em;
    border: none;
    text-decoration: none;
}
h1 strong, .h1 strong { color: #2F2F2F; font-weight: normal; }
h2 a, .h2 a,
h2 a:hover, .h2 a:hover,
h2, .h2 {
    font: bold 1.5em/1 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
    color: #555;
    border: none;
    text-decoration: none;
}
h3 a, .h3 a,
h3 a:hover, .h3 a:hover,
h3, .h3 { 
    font: bold 16px/1.125 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin-bottom: 1.125em;
    color: #555;
    border: none;
    text-decoration: none;
}
h4 a, .h4 a,
h4 a:hover, .h4 a:hover,
h4, .h4 {
    font: bold 14px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin-bottom: 18px;
    color: #222;
    border: none;
    text-decoration: none;
}
h5 a, .h5 a,
h5 a:hover, .h5 a:hover,
h5, .h5 {
    font: bold 12px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0;
    color: #222;
    border: none;
    text-decoration: none;
}
h6 a, .h6 a,
h6 a:hover, .h6 a:hover,
h6, .h6 {
    font: bold 11px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #666;
    border: none;
    text-decoration: none;
}

/* Cool sup & sub that don't mess with line height */
sup {
    bottom: 0.425em;
    font-size: 10px !important;
    font-weight: normal !important;
    padding-left: 1px;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.33em;
    font-size: 10px !important;
    font-weight: normal !important;
    padding-left: 1px;
    position: relative;
    vertical-align: baseline;
}

/* =================================================== */
/* = Paragraphs, Definition Lists, (Un)Ordered Lists = */
/* =================================================== */
p, ul, ol, blockquote, pre {
	margin-bottom: 1.5em;
}

ol,
ul {
    padding-left: 1.8em;
}
    ul ul {
        list-style-type: circle;
    }